.related-video-content {
    color: white;
    width: 168px;
    height: 235px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.related-video-content p{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}

.related-video-thumbnail img{
    border-radius: 10px;
}