.comment-section {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.comment-section ul {
    list-style: none;
}

.comment-section ul li {
    padding: 4px;
}

#Anon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

#thumbs-up:hover {
    color: green;
    cursor: pointer;
}

#thumbs-down:hover {
    color: red;
    cursor: pointer;
}

#thumbs-up:active {
    box-shadow: 0 5px transparent;
    transform: translateY(4px);
}

#thumbs-down:active {
    box-shadow: 0 5px transparent;
    transform: translateY(4px);
}

button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}