.form-rounded {
    border: 1px solid rgb(50, 50, 50);
    border-radius: 2rem;
    width: 32vw;
    height: 34px;
    background-color: rgb(20, 20, 20);
    outline: none;
    text-indent: 14px;
    caret-color: white;
    opacity: 1 !important;
}

.form-rounded::placeholder {
    font-family: arial;
}

.form-rounded:focus {
    color: white;
    background-color: rgb(20, 20, 20);
    animation-name: borderPulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes borderPulse {
    0% {
        border: 1px solid rgb(50, 50, 50);
    }
    50% {
        border: 1px solid rgb(85, 45, 255);
    }
}
